* {
  margin: 0 auto;
  padding: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.page_404 {
  /* padding: 80px 0; */
  padding: 10px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  /* background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif); */
  background-image: url(https://gifdb.com/images/file/cute-cartoon-peach-cat-confused-4e51iu8bo5h05tji.gif);
  background-repeat: no-repeat;
  /* height: 400px; */
  height: 450px;
  background-position: center;
  background-size: 250px 271px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}
.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #d98b82;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}

.contant_box_404 {
  /* margin-top: -50px; */
  margin-top: -80px;
}
